.gradle
.idea/libraries
.idea/tasks.xml
.idea/workspace.xml
bin
build
out
.DS_Store
.classpath
.java-version
.project
.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
.settings/gradle/org.springsource.ide.eclipse.gradle.core.import.prefs
.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
test-support/.classpath
test-support/.project
test-support/.settings/
tests/.classpath
tests/.project
tests/.settings/
